<header id="header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div id="main-logo">
      <img src="../../assets/images/logo.png" alt="">
    </div>
    <div class="logo mx-3">
      <img src="../../assets/images/symfony-logo.png" alt="">
    </div>
    <div class="logo ms-5">
      <img src="../../assets/images/angular-logo.png" alt="">
    </div>
      <button class="navbar-toggler mx-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav text-center">
          <li class="nav-item">
            <a class="nav-link px-4" aria-current="page" routerLink="/home/" routerLinkActive="active" >Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/career/" routerLinkActive="active">Mon parcours</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/portfolio/" routerLinkActive="active">Mes réalisations</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/contact/" routerLinkActive="active">Me contacter</a>
          </li>
        </ul>
      </div>
  </nav>
</header>