<footer id="footer">
  <nav class="col-6 offset-3 navbar navbar-expand-lg navbar-dark">
    <div class="collapse navbar-collapse col-12" id="navbarNav">
      <ul class="navbar-nav text-center mx-auto">
        <li class="nav-item col-4 ">
          <a class="nav-link px-5" aria-current="page" routerLinkActive="active" href="#">C.G.U.</a>
        </li>
        <li class="nav-item col-4">
          <a class="nav-link px-5" href="#" routerLinkActive="active">Link</a>
        </li>
        <li class="nav-item col-4 ">
          <a class="nav-link px-5" routerLink="/contact/" routerLinkActive="active">Contacts</a>
        </li>
      </ul>
    </div>
  </nav>
</footer>

